div.workoutContainer
    h4 10 premières sessions
    div.workoutBlock
        div.block
            each item in tenDays 
                div.workoutCheckbox
                    ul
                        li #{item.trac} tractions
                        li #{item.dips} dips
                        li #{item.pomp} pompes
                    label.checkbox
                        span.spanCheck
                        input(type='checkbox' value=item.day class='ifCheck' id=item.id onclick="check()")
                        input(type='checkbox' value=item.trac class='ifCheckTrac' id=item.id onclick="check()" checked)

